:root {
  --main-color: #3f51b5;
  --secondary-color: hsla(223, 7%, 6%, 0.6);
  --bg-color: linear-gradient(160deg,rgb(63, 81, 181),rgb(0,0,0));
  --border-color: hsla(218, 5%, 47%, 0.3);
}

@font-face{
    font-family:Whitney;
    font-weight:400;
    src:url(./assets/fonts/WhitneyLight.woff) format("woff")
}
@font-face{
    font-family:Whitney;
    font-weight:500;
    src:url(./assets/fonts/WhitneySemiLight.woff) format("woff")
}
@font-face{
    font-family:Whitney;
    font-weight:600;
    src:url(./assets/fonts/WhitneyRegular.woff) format("woff")
}
@font-face{
    font-family:Whitney;
    font-weight:700;
    src:url(./assets/fonts/WhitneyBold.woff) format("woff")
}
html,body{
    height:100%;
    width:100%
}
body{
    position:relative
}
.wrap{
    height:100%;
    position:relative;
    overflow:hidden
}
.bg{
    height:100%;
    position:relative;
    min-width:100%;
    min-height:100%;
    display:flex;
    z-index:-3;
    -webkit-box-pack:center;
    justify-content:center;
    background: var(--bg-color);
    overflow:hidden
}
.flex{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex
}
.alignCenter{
    -ms-flex-align:center;
    -webkit-box-align:center;
    align-items:center
}
.justifyBetween{
    -ms-flex-pack:justify;
    -webkit-box-pack:justify;
    justify-content:space-between
}
.directionRow{
    -ms-flex-direction:row;
    -webkit-box-direction:normal;
    -webkit-box-orient:horizontal;
    flex-direction:row
}
.directionColumn{
    -ms-flex-direction:column;
    -webkit-box-direction:normal;
    -webkit-box-orient:vertical;
    flex-direction:column
}
.buttons {

}
.button{
    -moz-user-select:none;
    -ms-flex-align:center;
    -ms-flex-pack:center;
    -ms-user-select:none;
    -webkit-box-align:center;
    -webkit-box-pack:center;
    -webkit-box-sizing:border-box;
    -webkit-user-select:none;
    align-items:center;
    background:none;
    border:none;
    border-radius:8px;
    box-sizing:border-box;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    font-size:14px;
    font-weight:500;
    justify-content:center;
    line-height:16px;
    padding:2px 16px;
    position:relative;
    user-select:none;
    font-size:14px;
    height:32px;
    min-height:32px;
    min-width:96px;
    -webkit-transition:color .17s ease,background-color .17s ease,border-color .17s ease;
    border-style:solid;
    border-width:1px;
    transition:color .17s ease,background-color .17s ease,border-color .17s ease;
    border-color:hsla(0,0%,100%,.3);
    color:#fff
}
.button:hover{
    border-color:hsla(0,0%,100%,.6)
}
.button:active{
    background-color:hsla(0,0%,100%,.1);
    border-color:#fff
}
.button:disabled{
    background-color:transparent;
    border-color:hsla(0,0%,100%,.3)
}
.modal{
    -moz-user-select:none;
    -ms-flex-align:center;
    -ms-flex-direction:column;
    -ms-flex-line-pack:distribute;
    -ms-flex-pack:center;
    -ms-user-select:none;
    -webkit-box-align:center;
    -webkit-box-pack:center;
    -webkit-box-sizing:border-box;
    -webkit-user-select:none;
    align-content:space-around;
    align-items:center;
    box-sizing:border-box;
    contain:content;
    flex-direction:column;
    height:100%;
    justify-content:center;
    left:0;
    min-height:340px;
    opacity:0;
    padding-bottom:60px;
    padding-top:60px;
    pointer-events:none;
    position:fixed;
    top:0;
    user-select:none;
    width:100%;
    z-index:1000
}
.inner,.modal{
    -webkit-box-direction:normal;
    -webkit-box-orient:vertical;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex
}
.inner{
    -ms-flex-direction:column;
    contain:layout;
    flex-direction:column;
    pointer-events:auto
}
a,body,div,html,img,span{
    border:0;
    font-family:inherit;
    font-size:100%;
    font-style:inherit;
    font-weight:inherit;
    margin:0;
    padding:0;
    vertical-align:baseline
}
a{
    -webkit-transition:opacity .5s,color .5s;
    color:#ffffffcc;
    cursor:pointer;
    text-decoration:none;
    transition:opacity .5s,color .5s
}
a:hover{
    color:#00b0f4
}
body{
    -moz-user-select:none;
    -ms-user-select:none;
    -webkit-user-select:none;
    background:transparent;
    font-family:Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
    line-height:1;
    margin:0;
    overflow:hidden;
    padding:0;
    user-select:none
}
::-webkit-input-placeholder{
    font-family:Whitney,Helvetica Neue,Helvetica,Arial,sans-serif
}
:-ms-input-placeholder{
    font-family:Whitney,Helvetica Neue,Helvetica,Arial,sans-serif
}
button{
    border:0;
    cursor:pointer;
    font-family:Whitney,Helvetica Neue,Helvetica,Arial,sans-serif
}
.appMount{
    -ms-flex-direction:column;
    -webkit-box-direction:normal;
    -webkit-box-orient:vertical;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    flex-direction:column;
    height:100vh;
    overflow:hidden;
    position:absolute;
    width:100vw;
    z-index:0
}
::-webkit-input-placeholder,body,button{
    font-family:Whitney,Helvetica Neue,Helvetica,Arial,sans-serif
}
:-ms-input-placeholder,body,button{
    font-family:Whitney,Helvetica Neue,Helvetica,Arial,sans-serif
}
body,button{
    font-family:Whitney,Helvetica Neue,Helvetica,Arial,sans-serif
}
a,button,div,span{
    outline:0
}
.wrapper{
    -ms-flex-negative:0;
    flex-shrink:0;
    position:relative
}
.image,.wrapper{
    border-radius:50%
}
.image{
    background-clip:padding-box;
    background-color:none;
    background-image:url(./assets/avatar.png);
    background-position:50%;
    background-size:100%;
    height:100%;
    width:100%
}
.profile{
    height:90px;
    width:90px
}
.scrollerWrap{
    -ms-flex:1;
    -webkit-box-flex:1;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    flex:1;
    height:100%;
    min-height:1px;
    position:relative
}
.scroller{
    -ms-flex:1;
    -webkit-box-flex:1;
    contain:layout;
    flex:1;
    min-height:1px;
    overflow-y:scroll
}
.scroller::-webkit-scrollbar{
    width:15px
}
.scroller::-webkit-scrollbar-thumb,.scroller::-webkit-scrollbar-track{
    background-clip:padding-box;
    border-radius:7.5px;
    border-style:solid;
    border-width:3px
}
.scroller::-webkit-scrollbar-track{
    border-width:initial
}
.scrollerFade .scroller::-webkit-scrollbar-thumb,.scrollerFade .scroller::-webkit-scrollbar-track{
    visibility:hidden
}
.scrollerFade .scroller:hover::-webkit-scrollbar-thumb,.scrollerFade .scroller:hover::-webkit-scrollbar-track,.scrollerFade:hover::-webkit-scrollbar-thumb,.scrollerFade:hover::-webkit-scrollbar-track{
    visibility:visible
}
.scrollerWrap .scroller::-webkit-scrollbar-thumb{
    /*background-color:#202225;*/
    background-color: var(--border-color);
    border-color:transparent
}
.scrollerWrap .scroller::-webkit-scrollbar-track{
    background-color:transparent;
    border-color:transparent
}
.content{
    overflow:hidden;
    color:hsla(0,0%,100%,.8)
}
.textRow{
    display:block;
    font-size:14px;
    line-height:16px;
    word-spacing:55px;
    text-align:center;
    font-weight:600
}
.actionsProfile{
    margin-right:16px
}
.root{
    border-radius:8px;
    overflow:hidden;
    position:relative;
    width:600px
}
.topSection{
    background: var(--main-color);
}
.header{
    padding:20px
}
.headerInfo{
    -ms-flex:1;
    -webkit-box-flex:1;
    flex:1
}
.nameTag{
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    line-height:20px;
    padding-right:20px;
    white-space:normal;
    word-break:break-word;
    -moz-user-select:text;
    -ms-user-select:text;
    -webkit-user-select:text;
    user-select:text
}
.avatar{
    margin-right:20px
}
.username{
    color:#fff;
    font-size:18px;
    font-weight:600
}
.discriminator{
    color:hsla(0,0%,100%,.6);
    font-size:11px;
    opacity:.5
}
.profileBadges{
    margin-top:8px
}
.profileBadge{
    background-position:50%;
    background-repeat:no-repeat;
    background-size:cover;
    height:16px;
    margin-right:6px
}
.profileAndroid{
    background-image:url(./assets/badges/android-badge.png);
    width:16px
}
.profileWindows{
    background-image:url(./assets/badges/windows-badge.png);
    width:17px
}
.profileChrome{
    background-image:url(./assets/badges/chrome-badge.png);
    width:16px
}
.headerFill{
    background-color:rgba(0,0,0,.05)
}
.activity{
    padding:10px 20px 10px 20px
}
.bottomSection{
    height:217px;
    /*background-color:#2f3136;*/
    background-color: var(--secondary-color)
}
.userInfoSection{
    margin:0 20px;
    padding:20px 0
}
.userInfoSection+.userInfoSection{
    border-top:1px solid
}
.userInfoSectionHeader{
    color:#72767d;
    font-size:12px;
    font-weight:700;
    text-transform:uppercase;
    text-align:center;
    letter-spacing:5px
}
.connectedAccounts{
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    margin-top:-20px
}
.connectedAccount{
    border:1px solid;
    border-radius:8px;
    margin-top:20px;
    padding:8px 14px 8px 8px;
    width:240px
}
.connectedAccountIcon{
    -ms-flex-negative:0;
    flex-shrink:0;
    height:30px;
    width:30px
}
.connectedAccountNameInner{
    -ms-flex-positive:1;
    -webkit-box-flex:1;
    flex-grow:1
}
.connectedAccountName,.connectedAccountNameInner{
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap
}
.connectedAccountName{
    -moz-user-select:text;
    -ms-user-select:text;
    -webkit-user-select:text;
    color:#b9bbbe;
    font-size:16px;
    font-weight:400;
    margin-left:10px;
    user-select:text
}
.connectedAccountVerifiedIcon{
    -ms-flex-negative:0;
    background:url(./assets/verified_check.svg) no-repeat 50%;
    flex-shrink:0;
    height:20px;
    width:24px;
    margin:0 5px
}
.connectedAccountOpenIcon{
    -ms-flex-negative:0;
    background:url(./assets/open-icon.png) no-repeat 50%;
    flex-shrink:0;
    height:18px;
    width:18px;
    opacity:.60000002;
    transition:opacity .25s ease-in-out;
    -moz-transition:opacity .25s ease-in-out;
    -webkit-transition:opacity .25s ease-in-out
}
.connectedAccountOpenIcon:hover{
    opacity:1
}
.connectedAccountCopyIcon{
    -ms-flex-negative:0;
    background:url(./assets/copy-icon.png) no-repeat 50%;
    flex-shrink:0;
    height:18px;
    width:18px;
    opacity:.60000002;
    transition:opacity .25s ease-in-out;
    -moz-transition:opacity .25s ease-in-out;
    -webkit-transition:opacity .25s ease-in-out
}
.connectedAccountCopyIcon:hover{
    opacity:1
}
.connectedAccount,.userInfoSection+.userInfoSection{
    /*border-color:#202225;*/
    border-color: var(--border-color);
}
.detected-platform-accounts-modal .btn-group .btn-primary:hover:not(:disabled){
    background-color:#4e5d94
}
@charset "UTF-8";
.animate{
    -webkit-animation-duration:1s;
    animation-duration:1s;
    -webkit-animation-fill-mode:both;
    animation-fill-mode:both;
    animation-delay:.1s
}
.animateb1{
    -webkit-animation-duration:1s;
    animation-duration:1s;
    -webkit-animation-fill-mode:both;
    animation-fill-mode:both;
    animation-delay:.2s
}
.animateb2{
    -webkit-animation-duration:1s;
    animation-duration:1s;
    -webkit-animation-fill-mode:both;
    animation-fill-mode:both;
    animation-delay:.4s
}
.animateb3{
    -webkit-animation-duration:1s;
    animation-duration:1s;
    -webkit-animation-fill-mode:both;
    animation-fill-mode:both;
    animation-delay:.6s
}
.animatep1{
    -webkit-animation-duration:1s;
    animation-duration:1s;
    -webkit-animation-fill-mode:both;
    animation-fill-mode:both;
    animation-delay:.8s
}
.animatep2{
    -webkit-animation-duration:1s;
    animation-duration:1s;
    -webkit-animation-fill-mode:both;
    animation-fill-mode:both;
    animation-delay:1s
}
.animatep3{
    -webkit-animation-duration:1s;
    animation-duration:1s;
    -webkit-animation-fill-mode:both;
    animation-fill-mode:both;
    animation-delay:1.2s
}
.animatep4{
    -webkit-animation-duration:1s;
    animation-duration:1s;
    -webkit-animation-fill-mode:both;
    animation-fill-mode:both;
    animation-delay:1.4s
}
.animatep5{
    -webkit-animation-duration:1s;
    animation-duration:1s;
    -webkit-animation-fill-mode:both;
    animation-fill-mode:both;
    animation-delay:1.6s
}
.animatep6{
    -webkit-animation-duration:1s;
    animation-duration:1s;
    -webkit-animation-fill-mode:both;
    animation-fill-mode:both;
    animation-delay:1.8s
}
@-webkit-keyframes bounceIn{
    0%,100%,20%,40%,60%,80%{
        -webkit-transition-timing-function:cubic-bezier(.215,.61,.355,1);
        transition-timing-function:cubic-bezier(.215,.61,.355,1)
    }
    0%{
        opacity:0;
        -webkit-transform:scale3d(.3,.3,.3);
        transform:scale3d(.3,.3,.3)
    }
    20%{
        -webkit-transform:scale3d(1.1,1.1,1.1);
        transform:scale3d(1.1,1.1,1.1)
    }
    40%{
        -webkit-transform:scale3d(.9,.9,.9);
        transform:scale3d(.9,.9,.9)
    }
    60%{
        opacity:1;
        -webkit-transform:scale3d(1.03,1.03,1.03);
        transform:scale3d(1.03,1.03,1.03)
    }
    80%{
        -webkit-transform:scale3d(.97,.97,.97);
        transform:scale3d(.97,.97,.97)
    }
    100%{
        opacity:1;
        -webkit-transform:scale3d(1,1,1);
        transform:scale3d(1,1,1)
    }
}
@keyframes bounceIn{
    0%,100%,20%,40%,60%,80%{
        -webkit-transition-timing-function:cubic-bezier(.215,.61,.355,1);
        transition-timing-function:cubic-bezier(.215,.61,.355,1)
    }
    0%{
        opacity:0;
        -webkit-transform:scale3d(.3,.3,.3);
        transform:scale3d(.3,.3,.3)
    }
    20%{
        -webkit-transform:scale3d(1.1,1.1,1.1);
        transform:scale3d(1.1,1.1,1.1)
    }
    40%{
        -webkit-transform:scale3d(.9,.9,.9);
        transform:scale3d(.9,.9,.9)
    }
    60%{
        opacity:1;
        -webkit-transform:scale3d(1.03,1.03,1.03);
        transform:scale3d(1.03,1.03,1.03)
    }
    80%{
        -webkit-transform:scale3d(.97,.97,.97);
        transform:scale3d(.97,.97,.97)
    }
    100%{
        opacity:1;
        -webkit-transform:scale3d(1,1,1);
        transform:scale3d(1,1,1)
    }
}
.bounceIn{
    -webkit-animation-name:bounceIn;
    animation-name:bounceIn
}
@-webkit-keyframes fadeIn{
    0%{
        opacity:0
    }
    100%{
        opacity:1
    }
}
@keyframes fadeIn{
    0%{
        opacity:0
    }
    100%{
        opacity:1
    }
}
.fadeIn{
    -webkit-animation-name:fadeIn;
    animation-name:fadeIn
}
@-webkit-keyframes fadeInShadow{
    0%{
        box-shadow:none
    }
    100%{
        box-shadow:0 14px 28px rgba(0,0,0,.25),0 10px 10px rgba(0,0,0,.22)
    }
}
@keyframes fadeInShadow{
    0%{
        box-shadow:none
    }
    100%{
        box-shadow:0 14px 28px rgba(0,0,0,.25),0 10px 10px rgba(0,0,0,.22)
    }
}
.fadeInShadow{
    -webkit-animation-name:fadeInShadow;
    animation-name:fadeInShadow
}
@-webkit-keyframes fadeInDown{
    0%{
        opacity:0;
        -webkit-transform:translate3d(0,-100%,0);
        transform:translate3d(0,-100%,0)
    }
    100%{
        opacity:1;
        -webkit-transform:none;
        transform:none
    }
}
@keyframes fadeInDown{
    0%{
        opacity:0;
        -webkit-transform:translate3d(0,-100%,0);
        transform:translate3d(0,-100%,0)
    }
    100%{
        opacity:1;
        -webkit-transform:none;
        transform:none
    }
}
.fadeInDown{
    -webkit-animation-name:fadeInDown;
    animation-name:fadeInDown
}
@-webkit-keyframes fadeInDownz{
    0%{
        opacity:0;
        -webkit-transform:translate3d(0,-100%,0);
        transform:translate3d(0,-100%,0);
        z-index:-1
    }
    99%{
        opacity:1;
        -webkit-transform:none;
        transform:none;
        z-index:-1
    }
    100%{
        opacity:1;
        -webkit-transform:none;
        transform:none;
        z-index:0
    }
}
@keyframes fadeInDownz{
    0%{
        opacity:0;
        -webkit-transform:translate3d(0,-100%,0);
        transform:translate3d(0,-100%,0);
        z-index:-1
    }
    99%{
        opacity:1;
        -webkit-transform:none;
        transform:none;
        z-index:-1
    }
    100%{
        opacity:1;
        -webkit-transform:none;
        transform:none;
        z-index:0
    }
}
.fadeInDownz{
    -webkit-animation-name:fadeInDownz;
    animation-name:fadeInDownz
}
@-webkit-keyframes fadeInRight{
    0%{
        opacity:0;
        -webkit-transform:translate3d(100%,0,0);
        transform:translate3d(100%,0,0)
    }
    100%{
        opacity:1;
        -webkit-transform:none;
        transform:none
    }
}
@keyframes fadeInRight{
    0%{
        opacity:0;
        -webkit-transform:translate3d(100%,0,0);
        transform:translate3d(100%,0,0)
    }
    100%{
        opacity:1;
        -webkit-transform:none;
        transform:none
    }
}
.fadeInRight{
    -webkit-animation-name:fadeInRight;
    animation-name:fadeInRight
}
@-webkit-keyframes rotateIn{
    0%{
        -webkit-transform-origin:center;
        transform-origin:center;
        -webkit-transform:rotate3d(0,0,1,-200deg);
        transform:rotate3d(0,0,1,-200deg);
        opacity:0
    }
    100%{
        -webkit-transform-origin:center;
        transform-origin:center;
        -webkit-transform:none;
        transform:none;
        opacity:1
    }
}
@keyframes rotateIn{
    0%{
        -webkit-transform-origin:center;
        transform-origin:center;
        -webkit-transform:rotate3d(0,0,1,-200deg);
        transform:rotate3d(0,0,1,-200deg);
        opacity:0
    }
    100%{
        -webkit-transform-origin:center;
        transform-origin:center;
        -webkit-transform:none;
        transform:none;
        opacity:1
    }
}
.rotateIn{
    -webkit-animation-name:rotateIn;
    animation-name:rotateIn
}

@media (max-width: 1180px){

}
@media (max-width: 900px){

}
@media (max-width: 767px){

}
@media (max-width: 600px){
    .root {
        width:300px
    }
    .textRow {
        word-spacing: 10px;
    }
    .userInfoSectionHeader {
        letter-spacing: 1px;
    }
    .userInfoSection {
        margin: 0 5px 0 20px;
    }
    .button {
        font-size: 11px;
        height: 26px;
        width: 75px;
        min-width: unset;
        min-height: unset;
    }
    .buttons {
        flex-wrap: wrap;
        position: relative;
        left: 3px;
    }
    .actionsProfile {
        margin-top: 8px;
    }
    .nameTag {
        padding-right: 7px;
        text-align: center;
    }
    .discriminator {
        display: none;
    }
    .avatar {
        margin-right: 15px;
    }
    .headerInfo {
        margin-right: 10px;
    }
    .bottomSection {
        height: 285px;
    }

}
@media (max-width: 600px) and (max-height: 750px){

}